<h1 mat-dialog-title>Add Appointment</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Time</mat-label>
    <input matInput [(ngModel)]="data.time" type="time" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveAppointment()">Save</button>
</div>

